<div class="centered six columns">
  <h3>Account Settings</h3>

  <div class="row">
    <div class="four columns image photo">
      <%= image_tag(current_user.avatar(140), size: "150", class: "avatar") %>
    </div>
    <div class="eight columns">
      <%= form_tag({:controller => "/users", :action => "upload_avatar"}, :method => :post, :multipart => true) do %>
        <i class="warning alert">(File size limit 50 KB.)</i><br />
        <%= file_field_tag "file", "style"=>"height:40px;", "onchange"=>"$('#start_upload').show()" %>
        <%= button_tag(type: "submit", class: "medium primary btn", id: "start_upload", style: "display:none") do %>
          <i class="icon-upload"></i> Dodaj Avatar
        <% end %>
      <% end %>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'layouts/error_messages', object: resource %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <li class="danger alert">Currently waiting confirmation for: <%= resource.unconfirmed_email %></li>
    <% end %>
    <ul>
      <li class="prepend field">
        <span class="adjoined"><i class="icon-user"></i></span>
        <%= f.text_field :nickname, autofocus: true, class: "xwide text input", placeholder: "Nickname" %>
      </li>

      <li class="prepend field">
        <span class="adjoined"><i class="icon-mail"></i></span>
        <%= f.email_field :email, autofocus: true, class: "xwide text input", placeholder: "Email", readonly: true %>
      </li>

      <li class="prepend field">
        <i class="warning alert">(leave blank if you don't want to change it)</i><br />
        <span class="adjoined"><i class="icon-key"></i></span>
        <%= f.password_field :password, autocomplete: "off", class: "xwide text input", placeholder: "Password" %>
      </li>

      <li class="prepend field">
        <span class="adjoined"><i class="icon-key"></i></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "xwide text input", placeholder: "Password Confirmation" %>
      </li>

      <li class="prepend field">
        <i class="warning alert">(we need your current password to confirm your changes)</i><br />
        <span class="adjoined"><i class="icon-key"></i></span>
        <%= f.password_field :current_password, autocomplete: "off", class: "xwide text input", placeholder: "Current Password"  %>
      </li>

      <li class="field">
        <div><%= f.submit "Update", class: "medium primary btn", style: "color:white" %></div>
      </li>
    </ul>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy?
    <ul>
      <li class="field">
      <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "medium danger btn" %></div>
      </li>
    </ul>
  </p>

  <div class="medium default btn">
    <%= link_to :back do %>
      <i class="icon-left-bold"></i> Back
    <% end %>
  </div>
</div>
