<div class="centered six columns">
  <h2>Welcome! Please sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <ul>
      <li class="prepend field">
        <span class="adjoined"><i class="icon-mail"></i></span>
        <%= f.email_field :email, autofocus: true, class: "xwide text input", placeholder: "Email" %>
      </li>
      <li class="prepend field">
      <span class="adjoined"><i class="icon-key"></i></span>
        <%= f.password_field :password, autocomplete: "off", class: "xwide text input", placeholder: "Password" %>
      </li>
      <li class="field">
        <% if devise_mapping.rememberable? -%>
          <label class="checkbox" for="user_remember_me">
            <%= f.check_box :remember_me %>
            <span></span> <%= "Remember Me" %>
          </label>
        <% end -%>
      </li>
      <li class="field">
        <div><%= f.submit "Sign in", class: "medium secondary btn", style: "color:white" %></div>
      </li>
    </ul>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
