<%= form_for(@snipp) do |f| %>
  <% if @snipp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snipp.errors.count, "error") %> prohibited this snipp from being saved:</h2>

      <ul>
      <% @snipp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<section class="pill tabs">
  <div class="field">
    <h4 class="lead"><%= f.text_field :title, placeholder: 'Title', class: "input xxwide" %></h4>
  </div>
  <ul class="tab-nav">
    <li class="active primary label"><a><%= f.label :html_code %></a></li>
    <li class="primary label"><a><%= f.label :css_code %></a></li>
    <li class="primary label"><a><%= f.label :js_code %></a></li>
  </ul>
  <div class="tab-content active">
    <div class="field">
      <%= f.text_area :html_code, class: "input textarea xxwide" %>
    </div>
  </div>
  <div class="tab-content">
    <div class="field">
      <%= f.text_area :css_code, class: "input textarea xxwide" %>
    </div>
  </div>
  <div class="tab-content">
    <div class="field">
      <%= f.text_area :js_code, class: "input textarea xxwide" %>
    </div>
  </div>
</section>
  <div class="actions">
    <%= f.submit class: "medium primary btn" %>
  </div>
<% end %>
