<%= form_for(@snipp) do |f| %>
  <%= render 'layouts/error_messages', object: @snipp %>

  <section class="pill tabs">
    <div class="field">
      <h4 class="lead"><%= f.text_field :title, placeholder: 'Title', :class => "input xxwide" %></h4>
    </div>
    <div class="field">
      <%= f.select :tag_list, options_for_select(@tags_list, f.object.tag_list), {}, {multiple: true, class: "input", style: "width:50%" } %>
    </div>
    <ul class="tab-nav">
      <li class="active primary label"><a><%= f.label :html_code %></a></li>
      <li class="primary label"><a><%= f.label :css_code %></a></li>
      <li class="primary label"><a><%= f.label :js_code %></a></li>
    </ul>
    <div class="tab-content active">
      <div class="field">
        <%= f.text_area :html_code, class: "input textarea xxwide" %>
      </div>
    </div>
    <div class="tab-content">
      <div class="field">
        <%= f.text_area :css_code, class: "input textarea xxwide" %>
      </div>
    </div>
    <div class="tab-content">
      <div class="field">
        <%= f.text_area :js_code, class: "input textarea xxwide" %>
      </div>
    </div>
  </section>
  <div class="actions">
    <%= f.submit class: "medium primary btn" %>
  </div>
<% end %>

<script>
  $('textarea').autosize();
  $(function() {
    $('#snipp_tag_list').select2()
  });
</script>
