<%= render partial: 'steps', locals: {step_one: true, step_label: "Update"} %>
<h3>Editing snippet "<%= @snipp.title %>"</h3>

<%= render 'form' %>

<div class="row">
  <div class="twelve columns medium danger btn">
    <%= link_to @snipp, data: { confirm: "Are you sure you want to destroy snipp '#{@snipp.title}'?" }, method: :delete, style: "color:white" do %>
      <i class="icon-trash"></i> Destroy
    <% end %>
  </div>
</div>
<br />
<div class="medium default btn">
  <%= link_to snipps_path do %>
    <i class="icon-left-bold"></i> Back
  <% end %>
</div>
