<% @snipps.each_slice(3) do |snipps| %>
  <div class="row">
    <% snipps.each do |snipp| %>
      <div class="four columns" style="padding:0px 5px 2px 5px">
        <h5><%= link_to snipp.title, snipp %><span style="float:right" class="ttip" data-tooltip="Viewed"><%= snipp.visits_count %><i class="icon-eye"></i></span></h5>
        <img src="http://immediatenet.com/t/fs?Size=800x600&URL=<%= url_for action: :subscreens, id: snipp.id, only_path: false %>" alt="Snipp Screenshot">
        <div class="field" style="margin-top:-23px">
          <div class="medium primary btn" style="width:100%"><%= link_to "View", snipp %></div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
<% end %>

<%= will_paginate @snipps, :container => false %>
