<p id="notice"><%= notice %></p>

<section class="pill tabs">
  <h4 class="lead"><%= @snipp.title %></h4>
  <h5>Snipp by <%= @snipp.user.email %></h5>
  <ul class="tab-nav" style="width:250px;">
      <li class="active primary label"><a>Preview</a></li>
      <% if @snipp.html_code.present? %>
        <li class="primary label"><a>HTML</a></li>
      <% end %>

      <% if @snipp.css_code.present? %>
        <li class="primary label"><a>CSS</a></li>
      <% end %>

      <% if @snipp.js_code.present? %>
        <li class="primary label"><a>JS</a></li>
      <% end %>
  </ul>
  <div class="tab-content active">
    <iframe src="<%= url_for :action => :subscreens %>" scrollbars="auto"
    name="subscreens" width=90%></iframe>
  </div>
  <div class="tab-content">
    <%= simple_format h @snipp.html_code %>
  </div>
  <div class="tab-content">
    <%= simple_format h @snipp.css_code %>
  </div>
  <div class="tab-content">
    <%= simple_format h @snipp.js_code %>
  </div>
</section>

<%= link_to 'Edit', edit_snipp_path(@snipp) %> |
<%= link_to 'Back', snipps_path %>
