<p id="notice"><%= notice %></p>

<section class="pill tabs">
  <div class="title-bar shaded">
    <img src="http://forum.codoh.com/images/avatars/avatar-blank.jpg" class="avatar">
    <div class="name">
      <h4 class="lead"><%= @snipp.title %></h4>
      <h5>Snipp by <%= @snipp.user.email %></h5>
    </div>
  </div>

  <br />

  <div class="light label"><i class="icon-eye"></i><%= @snipp.visits_count %> Views</div>
  <div class="light label" onclick="location.href='#disqus_thread'"><i class="icon-comment"></i>Comments</div>
  <div style="float:right"><i class="icon-tag"></i>Tags:</div>

  <br />
  <br />

  <div class="medium pill-left primary btn" style="float:right">
    <a href="<%= url_for action: :subscreens, id: @snipp.id %>" target="_blank">
      <i class="icon-resize-full"></i>
    </a>
  </div>

  <ul class="tab-nav" style="width:250px;">
      <li class="active primary label"><a>Preview</a></li>
      <% if @snipp.html_code.present? %>
        <li class="primary label"><a>HTML</a></li>
      <% end %>

      <% if @snipp.css_code.present? %>
        <li class="primary label"><a>CSS</a></li>
      <% end %>

      <% if @snipp.js_code.present? %>
        <li class="primary label"><a>JS</a></li>
      <% end %>
  </ul>

  <div class="tab-content active">
    <iframe src="<%= url_for action: :subscreens, id: @snipp.id %>" scrollbars="auto" name="subscreens" width=100%></iframe>
  </div>

  <div class="tab-content">
    <code lang="html"><%= raw (textilize(@snipp.html_code)).gsub(/\<br\s*\/?\>/, "") %></code>
  </div>

  <div class="tab-content">
    <code><%= raw (textilize(@snipp.css_code)).gsub(/\<br\s*\/?\>/, "") %></code>
  </div>

  <div class="tab-content">
    <code><%= raw (textilize(@snipp.js_code)).gsub(/\<br\s*\/?\>/, "") %></code>
  </div>
</section>

<div id ="disqus_thread">
  <%= raw disqus_thread %>
</div>

<%= link_to 'Edit', edit_snipp_path(@snipp) %> |
<%= link_to 'Back', snipps_path %>
