<% content_for :facebook do %>
  <meta property="og:image" content="http://immediatenet.com/t/fs?Size=800x600&URL=<%= url_for action: :subscreens, id: @snipp.id, only_path: false %>" />
  <meta property="og:title" content="<%= @snipp.title %>" />
  <meta property="og:url" content="<%= snipp_url(@snipp) %>" />
  <meta property="og:description" content="Hey check this cool snippet on Gumsnipp.com!" />
<% end %>

<section class="pill tabs">
  <div class="title-bar shaded">
    <%= image_tag(@snipp.user.avatar(60), size: "60", class: "avatar") if @snipp.user %>
    <div class="name">
      <h4 class="lead"><%= @snipp.title %></h4>
      <h5>Snipp by <%= link_to @snipp.user.nickname, user_snipps_path+"/#{@snipp.user.id}" if @snipp.user %></h5>
    </div>
    <div class="pull_right social-sharing">
      Share on:
      <div class="large metro rounded btn primary">
        <a href="javascript:fbShare('<%= snipp_url(@snipp) %>', '', '', '', 520, 370)">
          <i class="icon-facebook"></i>
        </a>
      </div>

      <div class="large metro rounded btn info">
        <a href="<%= snipp_url(@snipp) %>" class="tweet" target="_blank" title="Hey check this cool snippet - '<%= @snipp.title %>' on Gumsnipp.com!">
          <i class="icon-twitter"></i>
        </a>
      </div>
    </div>
  </div>

  <% if current_user %>
    <% if @snipp.owner?(current_user) %>
      <ul>
        <li class="field">
          <div class="large rounded primary btn twelve columns">
            <%= link_to 'Edit', edit_snipp_path(@snipp) %>
          </div>
        </li>
      </ul>
    <% end %>
    <% if !@snipp.published %>
      <ul>
        <li class="field">
          <div class="large rounded success btn twelve columns">
            <%= link_to 'Publish', set_public_path+"/#{@snipp.id}" if current_user.admin? && @snipp.to_check? %>
            <%= link_to 'Send to verification', to_verification_path+"/?id=#{@snipp.id}" if @snipp.owner?(current_user) && !@snipp.to_check? %>
            <%= 'Waiting for verification' if @snipp.owner?(current_user) && @snipp.to_check? %>
          </div>
        </li>
      </ul>
    <% end %>
  <% end %>

  <br />

  <div class="light label"><i class="icon-eye"></i><%= number_to_human(@snipp.visits_count) %> Views</div>
  <div class="light label" onclick="location.href='#disqus_thread'"><i class="icon-comment"></i>Comments</div>
  <div class="pull_right">
    <i class="icon-tag"></i>Tags:
    <%= raw @snipp.tag_list.map { |t| link_to t, tag_path(t), class: "primary label" }.join(' ') %>
  </div>

  <br />
  <br />

  <div class="medium pill-left primary btn pull_right">
    <a href="<%= iframe_url(@snipp.id) %>" target="_blank">
      <i class="icon-resize-full"></i>
    </a>
  </div>

  <ul class="tab-nav" style="width:250px;">
    <li class="active primary label"><a>Preview</a></li>
    <% if @snipp.html_code.present? %>
      <li class="primary label"><a>HTML</a></li>
    <% end %>

    <% if @snipp.css_code.present? %>
      <li class="primary label"><a>CSS</a></li>
    <% end %>

    <% if @snipp.js_code.present? %>
      <li class="primary label"><a>JS</a></li>
    <% end %>
  </ul>

  <div class="tab-content active" style="height:100%">
    <iframe src="<%= iframe_url(@snipp.id) %>" scrollbars="no" name="subscreens" width="100%" height="100%"></iframe>
  </div>

  <% if @snipp.html_code.present? %>
    <div class="tab-content">
      <code lang="html"><%= raw (textilize(@snipp.html_code)).gsub(/\<br\s*\/?\>/, "") %></code>
    </div>
  <% end %>

  <% if @snipp.css_code.present? %>
    <div class="tab-content">
      <code><%= raw (textilize(@snipp.css_code)).gsub(/\<br\s*\/?\>/, "") %></code>
    </div>
  <% end %>

  <% if @snipp.js_code.present? %>
    <div class="tab-content">
      <code><%= raw (textilize(@snipp.js_code)).gsub(/\<br\s*\/?\>/, "") %></code>
    </div>
  <% end %>
</section>

<div>
  <%= content_tag(:h3, "Similar snippets:") if @snipps_similar.any? %>
  <div class="row">
    <% @snipps_similar.each do |snipp| %>
      <div class="four columns thumbnail" onclick="location.href='<%= url_for snipp %>'" style="cursor:pointer">
        <h5><%= link_to snipp.title, snipp %><span style="float:right" class="ttip" data-tooltip="Viewed"><%= number_to_human(snipp.visits_count) %><i class="icon-eye"></i></span></h5>
        <img src="http://immediatenet.com/t/fs?Size=800x600&URL=<%= url_for action: :subscreens, id: snipp.id, only_path: false %>" alt="Snipp Screenshot">
      </div>
    <% end %>
  </div>
</div>

<br />

<h3>Comments:</h3>
<div id ="disqus_thread">
  <%= raw disqus_thread %>
</div>

<div class="medium default btn">
  <%= link_to snipps_path do %>
    <i class="icon-left-bold"></i> Back
  <% end %>
</div>

<script>
  function fbShare(url, title, descr, image, winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
  }

  $('a.tweet').click(function(e){
    e.preventDefault();
    var loc = $(this).attr('href');
    var title = escape($(this).attr('title'));
    window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  });
</script>
