<section class="pill tabs">
  <div class="title-bar shaded">
    <%= image_tag(@snipp.user.avatar(60), size: "60", class: "avatar") if @snipp.user %>
    <div class="name">
      <h4 class="lead"><%= @snipp.title %></h4>
      <h5>Snipp by <%= link_to @snipp.user.nickname, user_snipps_path+"/#{@snipp.user.id}" if @snipp.user %></h5>
    </div>
  </div>

  <% if current_user %>
    <% if @snipp.owner?(current_user) || current_user.admin? %>
      <ul>
        <li class="field">
          <div class="large rounded primary btn twelve columns">
            <%= link_to 'Edit', edit_snipp_path(@snipp) %>
          </div>
        </li>
      </ul>
    <% end %>
    <% if !@snipp.published %>
      <ul>
        <li class="field">
          <div class="large rounded success btn twelve columns">
            <%= link_to 'Publish', set_public_path+"/#{@snipp.id}" if current_user.admin? && @snipp.to_check? %>
            <%= link_to 'Send to verification', to_verification_path+"/?id=#{@snipp.id}" if @snipp.owner?(current_user) && !@snipp.to_check? %>
            <%= 'Waiting for verification' if @snipp.owner?(current_user) && @snipp.to_check? %>
          </div>
        </li>
      </ul>
    <% end %>
  <% end %>

  <br />

  <div class="light label"><i class="icon-eye"></i><%= number_to_human(@snipp.visits_count) %> Views</div>
  <div class="light label" onclick="location.href='#disqus_thread'"><i class="icon-comment"></i>Comments</div>
  <div style="float:right">
    <i class="icon-tag"></i>Tags:
    <%= raw @snipp.tag_list.map { |t| link_to t, tag_path(t), class: "primary label" }.join(' ') %>
  </div>

  <br />
  <br />

  <div class="medium pill-left primary btn" style="float:right">
    <a href="<%= iframe_url(@snipp.id) %>" target="_blank">
      <i class="icon-resize-full"></i>
    </a>
  </div>

  <ul class="tab-nav" style="width:250px;">
    <li class="active primary label"><a>Preview</a></li>
    <% if @snipp.html_code.present? %>
      <li class="primary label"><a>HTML</a></li>
    <% end %>

    <% if @snipp.css_code.present? %>
      <li class="primary label"><a>CSS</a></li>
    <% end %>

    <% if @snipp.js_code.present? %>
      <li class="primary label"><a>JS</a></li>
    <% end %>
  </ul>

  <div class="tab-content active">
    <iframe src="<%= iframe_url(@snipp.id) %>" scrollbars="auto" name="subscreens" width="100%"></iframe>
  </div>

  <% if @snipp.html_code.present? %>
    <div class="tab-content">
      <code lang="html"><%= raw (textilize(@snipp.html_code)).gsub(/\<br\s*\/?\>/, "") %></code>
    </div>
  <% end %>

  <% if @snipp.css_code.present? %>
    <div class="tab-content">
      <code><%= raw (textilize(@snipp.css_code)).gsub(/\<br\s*\/?\>/, "") %></code>
    </div>
  <% end %>

  <% if @snipp.js_code.present? %>
    <div class="tab-content">
      <code><%= raw (textilize(@snipp.js_code)).gsub(/\<br\s*\/?\>/, "") %></code>
    </div>
  <% end %>
</section>

<div>
  <%= content_tag(:h3, "Similar snippets:") if @snipps_similar.any? %>
  <div class="row">
    <% @snipps_similar.each do |snipp| %>
      <div class="four columns thumbnail" onclick="location.href='<%= url_for snipp %>'" style="cursor:pointer">
        <h5><%= link_to snipp.title, snipp %><span style="float:right" class="ttip" data-tooltip="Viewed"><%= number_to_human(snipp.visits_count) %><i class="icon-eye"></i></span></h5>
        <img src="http://immediatenet.com/t/fs?Size=800x600&URL=<%= url_for action: :subscreens, id: snipp.id, only_path: false %>" alt="Snipp Screenshot">
      </div>
    <% end %>
  </div>
</div>

<br />

<h3>Comments:</h3>
<div id ="disqus_thread">
  <%= raw disqus_thread %>
</div>

<div class="medium default btn">
  <%= link_to snipps_path do %>
    <i class="icon-left-bold"></i> Back
  <% end %>
</div>
