<%= image_tag(@user.avatar(60), size: "60", class: "avatar") %> <h2 style="display:inline"><%= @user.nickname %>'s snippets</h2>

<% @snipps.each_slice(3) do |snipps| %>
  <div class="row">
    <% snipps.each do |snipp| %>
      <div class="four columns thumbnail">
        <h5>
          <%= link_to truncate(snipp.title, length: 28), snipp %>
          <li class="primary label ttip pull_right" data-tooltip="Gumby version">
            <%= link_to snipp.framework_version, snipps_path(framework_version: snipp.framework_version) %>
          </li>
          <span class="ttip pull_right" data-tooltip="Viewed">
            <%= number_to_human(snipp.visits_count) %><i class="icon-eye"></i>
          </span>
        </h5>
        <img src="http://immediatenet.com/t/fs?Size=800x600&URL=<%= iframe_url(snipp.id) %>" alt="Snipp Screenshot">
        <div class="field" style="margin-top:-23px">
          <div class="medium primary btn" style="width:100%"><%= link_to "View", snipp %></div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
<% end %>

<div class="blog-pager" id="blog-pager">
<%= will_paginate @snipps %>
</div>
