<!DOCTYPE html>
<html>
<head>
  <title>Gumsnipp</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar" id="nav1">
    <div class="row">
      <a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
      <h1 class="tree columns logo">
        <a href="/">
          <%= image_tag('gumby_mainlogo.png', "gumby-retina" => "") %>
        </a>
      </h1>
      <ul class="nine columns">
        <% if current_user %>
          <li>
            <p class="medium pretty default btn icon-plus-squared icon-left">
              <%= link_to 'Snipp', new_snipp_path %>
            </p>
          </li>
        <% end %>
        <li><a href="/"><i class="icon-home" title="Home"></i>Home</a></li>
        <li>
          <a href="/"><span><i class="icon-archive"></i>Snipps<i class="icon-down-open-mini"></i></span></a>
          <div class="dropdown">
            <ul>
              <li><a href="/tags"><i class="icon-tag"></i>Tags</a></li>
              <li><a href="/ui"><i class="icon-window"></i>UI Kit</a></li>
            </ul>
          </div>
        </li>
        <li class="append field">
          <%= form_tag request.path, :method => 'get', :id => "searchform" do %>
            <%= text_field_tag  :search, params[:search], :placeholder => 'Search', :class => 'search input', :id => 's' %>
            <div class="medium default btn submit_button", onclick="document.getElementById('searchform').submit()"><i class="icon-search"></i></div>
          <% end %>
        </li>
        <% if current_user %>
          <li><%= link_to current_user.nickname.first(10), edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete if current_user %></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= render 'layouts/notice' %>
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="twelve columns">
        <div class="four columns">
          Gumsnipp.com by Miłosz Osiński
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
