<!DOCTYPE html>
<html>
<head>
  <title>Gumsnipp</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta property="og:site_name" content="Gumsnipp" />
  <meta property="og:type" content="website" />
  <%= yield :facebook %>
</head>

<body>
  <div class="page-wrap">
    <div class="navbar" id="nav1">
      <div class="row">
        <a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
        <h1 class="tree columns logo">
          <a href="/">
            <%= image_tag('logo.png', "gumby-retina" => "") %>
          </a>
        </h1>
        <ul class="seven columns pull_left">
          <% if current_user %>
            <li>
              <p class="medium pretty default btn icon-plus-squared icon-left">
                <%= link_to 'Snipp', new_snipp_path %>
              </p>
            </li>
          <% end %>
          <li><a href="/"><i class="icon-home" title="About"></i>Home</a></li>
          <li>
            <a><span><i class="icon-archive"></i>Snipps<i class="icon-down-open-mini"></i></span></a>
            <div class="dropdown">
              <ul>
                <li><a href="/tags"><i class="icon-tag"></i>Tags</a></li>
                <li><a href="/ui"><i class="icon-window"></i>UI Kit</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/about"><i class="icon-info-circled" title="Home"></i>About</a></li>
          <li class="append field">
            <%= form_tag request.path, :method => 'get', :id => "searchform" do %>
              <%= text_field_tag  :search, params[:search], :placeholder => 'Search', :class => 'search input', :id => 's' %>
              <div class="medium default btn submit_button" onclick="document.getElementById('searchform').submit()"><i class="icon-search"></i></div>
            <% end %>
          </li>
        </ul>
        <ul class="two columns pull_right">
          <% if current_user %>
            <li>
              <a><span><%= image_tag(current_user.avatar(24), size: "24", class: "avatar") %> Profile<i class="icon-down-open-mini"></i></span></a>
              <div class="dropdown">
                <ul>
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to to_check_path do %>
                        <i class="icon-list-add"></i>For verifiable
                        <% if to_checked > 0 %>
                          <span class="primary badge" id="unchecked_count"><%= to_checked %></span>
                        <% end %>
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to user_snipps_path do %>
                      <i class="icon-layout"></i>My snippets
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <i class="icon-tools"></i>Settings
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, :method => :delete do %>
                      <i class="icon-logout"></i>Logout
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'static/welcome' if current_page?(root_url) %>

    <div class="row">
      <div class="twelve columns">
        <%= render 'layouts/notice' %>
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="twelve columns">
        Gumsnipp.com by <%= link_to "Miłosz Osiński", "http://m1l05z.pl", target: "_blank" %> | <%= link_to "#{RUBY_ENGINE.capitalize}-#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}", "https://www.ruby-lang.org/", target: "_blank" %> on <%= link_to "Rails #{Rails.version}", "https://rubygems.org/gems/rails/versions/#{Rails.version}", target: "_blank" %> | Hosted on <%= link_to "https://heroku.com", target: "_blank" do %><%= image_tag ("heroku.png"), style: "margin-bottom: -5px" %><% end %>
      </div>
    </div>
  </footer>
</body>
</html>
